<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Finder-Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to School Finder</h1>
    <form action="/search" method="post">
        <input type="text" name="city" placeholder="Enter City..." required>
        <button type="submit">Search</button>
    </form>
    <p>Find the best School in your city.</p>
</body>
</html>